# Document and Log exclusions
*.md
!README.md
*.txt
plex_pin_login_source*
auth-portal-temp/

# Python and Database
__pycache__/
*.pyc
*.pyo
*.pyd
.db
barcodes.db
config_data/
static/generated_pdfs/*
!static/generated_pdfs/.gitkeep
